[submodule "spec_testsuite"]
	path = spec_testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "wasmtime-api/c-examples/wasm-c-api"]
	path = crates/api/c-examples/wasm-c-api
	url = https://github.com/WebAssembly/wasm-c-api
[submodule "wasi-common/WASI"]
	path = crates/wasi-common/WASI
	url = https://github.com/WebAssembly/WASI
