*.bk
*.pyc
*.swo
*.swp
*.swx
*~
.*.rustfmt
.mypy_cache
\#*\#
cranelift.dbg*
docs/_build
docs/book
.vscode/
.vs/
rusty-tags.*
tags
target
.z3-trace
foo
.cargo
publish
vendor
examples/build
examples/.cache
*.coredump
*.smt2
cranelift/isle/veri/veri_engine/test_output
crates/explorer/node_modules
tests/all/pulley_provenance_test.cwasm
