[submodule "tests/spec_testsuite"]
	path = tests/spec_testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "tests/wasi_testsuite/wasi-threads"]
	path = tests/wasi_testsuite/wasi-threads
	url = https://github.com/WebAssembly/wasi-threads
[submodule "tests/wasi_testsuite/wasi-common"]
	path = tests/wasi_testsuite/wasi-common
	url = https://github.com/WebAssembly/wasi-testsuite.git
	branch = prod/testsuite-base
