# Use LF-style line endings for all text files.
* text=auto eol=lf

# Older git versions try to fix line endings on images, this prevents it.
*.png binary
*.ico binary
*.wasm binary

# ISLE should use lisp syntax highlighting.
*.isle linguist-language=lisp

# Tell GitHub this is generated code, and doesn't need to be shown in diffs by
# default.
cranelift/codegen/src/isa/*/lower/isle/generated_code.rs linguist-generated
