[submodule "spec_testsuite"]
	path = spec_testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "wasmtime-api/c-examples/wasm-c-api"]
	path = wasmtime-api/c-examples/wasm-c-api
	url = https://github.com/WebAssembly/wasm-c-api
