environment:
  matrix:
  - TARGET: x86_64-pc-windows-gnu
    BITS: 64
    MSYS2: 1
  - TARGET: x86_64-pc-windows-msvc
    BITS: 64
install:
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-host %TARGET%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - if defined MSYS2 set PATH=C:\msys64\mingw%BITS%\bin;%PATH%
  - rustc -V
  - cargo -V
build: false
test_script:
  - cargo build --verbose --all
  - cargo test --verbose --all
branches:
  only:
    - master
