[package]
name = "wasmtime-cli"
version = "0.28.0"
authors = ["The Wasmtime Project Developers"]
description = "Command-line interface for Wasmtime"
license = "Apache-2.0 WITH LLVM-exception"
documentation = "https://bytecodealliance.github.io/wasmtime/cli.html"
categories = ["wasm"]
keywords = ["webassembly", "wasm"]
repository = "https://github.com/bytecodealliance/wasmtime"
readme = "README.md"
edition = "2018"
default-run = "wasmtime"

[lib]
doctest = false

[[bin]]
name = "wasmtime"
path = "src/bin/wasmtime.rs"
doc = false

[dependencies]
# Enable all supported architectures by default.
wasmtime = { path = "crates/wasmtime", version = "0.28.0", default-features = false, features = ['cache'] }
wasmtime-cache = { path = "crates/cache", version = "0.28.0" }
wasmtime-debug = { path = "crates/debug", version = "0.28.0" }
wasmtime-environ = { path = "crates/environ", version = "0.28.0" }
wasmtime-jit = { path = "crates/jit", version = "0.28.0" }
wasmtime-obj = { path = "crates/obj", version = "0.28.0" }
wasmtime-wast = { path = "crates/wast", version = "0.28.0" }
wasmtime-wasi = { path = "crates/wasi", version = "0.28.0" }
wasmtime-wasi-crypto = { path = "crates/wasi-crypto", version = "0.28.0", optional = true }
wasmtime-wasi-nn = { path = "crates/wasi-nn", version = "0.28.0", optional = true }
structopt = { version = "0.3.5", features = ["color", "suggestions"] }
object = { version = "0.25.0", default-features = false, features = ["write"] }
anyhow = "1.0.19"
target-lexicon = { version = "0.12.0", default-features = false }
pretty_env_logger = "0.4.0"
file-per-thread-logger = "0.1.1"
wat = "1.0.38"
libc = "0.2.60"
log = "0.4.8"
rayon = "1.5.0"
humantime = "2.0.0"
wasmparser = "0.79.0"
lazy_static = "1.4.0"

[dev-dependencies]
env_logger = "0.8.1"
filecheck = "0.5.0"
more-asserts = "0.2.1"
tempfile = "3.1.0"
test-programs = { path = "crates/test-programs" }
wasmtime-fuzzing = { path = "crates/fuzzing" }
wasmtime-runtime = { path = "crates/runtime" }
tokio = { version = "1.5.0", features = ["rt", "time", "macros", "rt-multi-thread"] }
tracing-subscriber = "0.2.16"
wast = "36.0.0"
criterion = "0.3.4"
num_cpus = "1.13.0"
winapi = { version = "0.3.9", features = ['memoryapi'] }

[build-dependencies]
anyhow = "1.0.19"

[profile.release.build-override]
opt-level = 0

[workspace]
resolver = '2'
members = [
  "cranelift",
  "crates/bench-api",
  "crates/c-api",
  "crates/misc/run-examples",
  "examples/fib-debug/wasm",
  "examples/wasi/wasm",
  "examples/tokio/wasm",
  "fuzz",
]
exclude = ['crates/wasi-common/WASI/tools/witx-cli']

[features]
default = ["jitdump", "wasmtime/wat", "wasmtime/parallel-compilation", "wasi-nn"]
lightbeam = ["wasmtime/lightbeam"]
jitdump = ["wasmtime/jitdump"]
vtune = ["wasmtime/vtune"]
wasi-crypto = ["wasmtime-wasi-crypto"]
wasi-nn = ["wasmtime-wasi-nn"]
uffd = ["wasmtime/uffd"]
all-arch = ["wasmtime/all-arch"]

# Stub feature that does nothing, for Cargo-features compatibility: the new
# backend is the default now.
experimental_x64 = []

# Use the old x86 backend.
old-x86-backend = ["wasmtime/old-x86-backend"]

[badges]
maintenance = { status = "actively-developed" }

[[test]]
name = "host_segfault"
harness = false

[[example]]
name = "tokio"
required-features = ["wasmtime-wasi/tokio"]

[profile.dev.package.backtrace]
debug = false # FIXME(#1813)

[[bench]]
name = "instantiation"
harness = false

[[bench]]
name = "thread_eager_init"
harness = false
