# In this project, we use CODEOWNERS to identify people who are likely to know
# who should review a pull request.
#
# People listed in this file are committing to respond in a timely fashion to
# PRs in the selected areas. However, that response doesn't have to be a full
# code review; it could also take any of these forms:
#
# - "I intend to review this but I can't yet. Please leave me a message if I
#   haven't responded by (a specific date in the near future)."
#
# - "I think (a specific other contributor) should review this." (Note that the
#   best reviewer for a PR may not necessarily be listed in this file.)
#
# People must only be added to this file if they've agreed to provide one of
# the above responses in a reasonable amount of time for every PR to which
# they're assigned.
#
# We only ask for this commitment from people who are employed full-time to
# work on this project. We gratefully welcome reviews from other contributors,
# but we don't believe it's fair to ask volunteers to respond quickly.

# If none of the later patterns match, assign to anyone. This team is the
# parent of all the other teams and automatically includes everyone on those
# teams.
* @bytecodealliance/wasmtime-default-reviewers

# Some parts of the project require more specialized knowledge. In those areas
# we designate smaller groups who are more likely to be aware of who's working
# in specific areas.

# Wasmtime
/crates/   @bytecodealliance/wasmtime-core-reviewers
/examples/ @bytecodealliance/wasmtime-core-reviewers
/src/      @bytecodealliance/wasmtime-core-reviewers
/tests/    @bytecodealliance/wasmtime-core-reviewers

# Cranelift/Winch compilers
/cranelift/ @bytecodealliance/wasmtime-compiler-reviewers
/winch/     @bytecodealliance/wasmtime-compiler-reviewers

# Fuzz testing
/fuzz/          @bytecodealliance/wasmtime-fuzz-reviewers
/crates/fuzzing @bytecodealliance/wasmtime-fuzz-reviewers
