body {
    color: #ccd5dc;
    font-family: "Open Sans",sans-serif;
    line-height: 1.5;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
    background-color: #2d2d30;
}

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.8;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.8;
}

h5 {
    font-size: 14px;
    padding: 10px 0px;
}

article h1,
article h2,
article h3,
article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h4 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

.navbar-brand>img {
    color: #2d2d30;
}

.navbar {
    border: none;
}

.subnav {
    border-top: 1px solid #ddd;
    background-color: #333337;
}

.navbar-inverse {
    background-color: #1e1e1e;
    z-index: 100;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text {
    color: #66666d;
    background-color: #1e1e1e;
    border-bottom: 3px solid transparent;
    padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #c5c5de;
    background-color: #1e1e1e;
    border-bottom: 3px solid #333337;
    transition: all ease 0.25s;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #c5c5de;
    background-color: #1e1e1e;
    border-bottom: 3px solid #333337;
    transition: all ease 0.25s;
}

.navbar-form .form-control {
    border: none;
    border-radius: 0;
}

.toc .level1>li {
    font-weight: 400;
}

.toc .nav>li>a {
    color: #ccd5dc;
}

.sidefilter {
    background-color: #2d2d30;
    border-left: none;
    border-right: none;
}

.sidefilter {
    background-color: #2d2d30;
    border-left: none;
    border-right: none;
}

.toc-filter {
    padding: 10px;
    margin: 0;
    background-color: #2d2d30;
}

.toc-filter>input {
    border: none;
    border-radius: unset;
    background-color: #333337;
    padding: 5px 0 5px 20px;
    font-size: 90%
}

.toc-filter>input:focus {
    color: #ccd5dc;
    transition: all ease 0.25s;
}

.toc-filter>.filter-icon {
    display: none;
}

.sidetoc>.toc {
    background-color: #2d2d30;
    overflow-x: hidden;
}

.sidetoc {
    background-color: #2d2d30;
    border: none;
}

.alert {
    background-color: inherit;
    border: none;
    padding: 10px 0;
    border-radius: 0;
}

.alert>p {
    margin-bottom: 0;
    padding: 5px 10px;
    border-bottom: 1px solid;
    background-color: #212123;
}

.alert>h5 {
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 2px solid;
    background-color: #212123;
    border-radius: none;
}

.alert>ul {
    margin-bottom: 0;
    padding: 5px 40px;
}

.alert-info{
    color: #1976d2;
}

.alert-warning{
    color: #f57f17;
}

.alert-danger{
    color: #d32f2f;
}

pre {
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #1e1e1e;;
    border-radius: 0;
    border: none;
}

code{
    background: #1e1e1e !important;
    border-radius: 2px;
}

.hljs{
    color: #bbb;
}

.toc .nav > li.active > .expand-stub::before, .toc .nav > li.in > .expand-stub::before, .toc .nav > li.in.active > .expand-stub::before, .toc .nav > li.filtered > .expand-stub::before {
    content: "▾";
}

.toc .nav > li > .expand-stub::before, .toc .nav > li.active > .expand-stub::before {
    content: "▸";
}

.affix ul ul > li > a:before {
    content: "|";
}

.breadcrumb .label.label-primary {
    background: #444;
    border-radius: 0;
    font-weight: normal;
    font-size: 100%;
}

#breadcrumb .breadcrumb>li a {
    border-radius: 0;
    font-weight: normal;
    font-size: 85%;
    display: inline;
    padding: 0 .6em 0;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: #999;
}
#breadcrumb .breadcrumb>li a:hover{
    color: #c5c5de;
    transition: all ease 0.25s;
}

.breadcrumb > li + li:before {
    content: "⯈";
    font-size: 75%;
    color: #1e1e1e;
    padding: 0;
}

.toc .level1>li {
    font-weight: 600;
    font-size: 130%;
    padding-left: 5px;
}

.footer {
    border-top: none;
    background-color: #1e1e1e;
    padding: 15px 0;
    font-size: 90%;
}

.toc .nav > li > a:hover, .toc .nav > li > a:focus {
    color: #fff;
    transition: all ease 0.1s;
}

.form-control {
    background-color: #333337;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input#search-query:focus {
    color: #c5c5de;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #1E1E1E;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #212123;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 10px;
    font-size: 110%;
    border-left: 5px solid #69696e;
    color: #69696e;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: #333337;
    border-color: #333337;
}

.breadcrumb>li, .pagination {
    display: inline;
}

@media (min-width: 1600px){
    .container {
        width: 100%;
    }
    .sidefilter {
        width: 20%;
    }
    .sidetoc{
        width: 20%;
    }
    .article.grid-right {
        margin-left: 21%;
    }
}

code {
    color:#8ec4f5;
}

.lang-text {
    color:#ccd5dc;
}

button, a {
    color: #8ec4f5;
}

.affix > ul > li.active > a, .affix > ul > li.active > a:before {
    color: #8ec4f5;
}

.affix ul > li.active > a, .affix ul > li.active > a:before {
    color: #8ec4f5;
}

.affix ul > li > a {
    color: #d3cfcf;
}

button:hover, button:focus, a:hover, a:focus {
  color: #339eff;
}

.toc .nav > li.active > a {
    color: #8ec4f5;
}

.toc .nav > li.active > a:hover, .toc .nav > li.active > a:focus {
    color: #339eff;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #9898a6;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
}

.hljs-attr,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-selector-pseudo,.hljs-title {
    color:#b685ff;
}

.hljs-keyword,.hljs-selector-tag,.hljs-type {
    color:#cc74a6;
}

.hljs-emphasis,.hljs-quote,.hljs-string,.hljs-strong,.hljs-template-variable,.hljs-variable {
    color:#cc74a6
}

#breadcrumb .breadcrumb >li a {
    color: #999;
}

.toc-filter > input {
    color: #d3cfcf;
}