* {
  margin: 0;
  padding: 0;
}

.hbox {
  display: flex;
  flex-direction: row;
}

html,
body {
  width: 100%;
  height: 100%;
}

#wat {
  width: 50%;
  height: 100%;
  overflow: scroll;
}

#asm {
  width: 50%;
  height: 100%;
  overflow: scroll;
}
