* {
  margin: 0;
  padding: 0;
}

.hbox {
  display: flex;
  flex-direction: row;
}

html,
body {
  width: 100%;
  height: 100%;
}

.highlight {
  white-space: pre;
  font-family: monospace;
}
.hovered {
}
.light-text {
  color: #dddddd;
}
.dark-text {
  color: #101010;
}

#bridge {
  position: absolute;
  z-index: 100;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 16px;
  background-color: red;
  clip-path: polygon(0px 0px, 0px 10px, 20px 100px, 100px 100px);
  display: none;
}

#wat {
  width: 50%;
  height: 100%;
  overflow: scroll;
}

#asm {
  width: 50%;
  height: 100%;
  overflow: scroll;
}
