[package]
name = "byte-array-literals"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
publish = false

[lib]
proc-macro = true
test = false
doctest = false
