[package]
name = "min-platform-host"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
anyhow = { workspace = true, features = ['std'] }
libloading = "0.8"
object = { workspace = true, features = ['std'] }
wasmtime = { workspace = true, features = ['cranelift', 'wat'] }

[features]
default = ["wasi"]
custom = []
wasi = [ "wasmtime/component-model" ]
